.app-wrapper {
  float: right;
  text-align: center;
  background-color: #eeeeee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: 2vh;
  width: 85%;
  vertical-align: text-top;
  padding: 80px 30px;
}

.sidebar-wrapper {
  float: left;
  font-size: 2vh;
  width: 15%;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: auto;
  position: fixed;
}

.Card {
  font-size: 10px;
  width: 100%
}
